<!DOCTYPE html>
<html lang="ko">
<%- include ('./head') %>
<body>
    <h1>글 작성</h1>
    <div class="btn-group">
        <a href="/list" class="btn primary">목록으로</a>
        <a href="javascript:void(0)" onclick="create(this);" class="btn primary">저장</a>
    </div>
    <div class="content">
        <div class="content-edit">
            <ul class="content-info">
                <li>
                    <label for="contentTitle">제목</label>
                    <input type="text" id="contentTitle">
                </li>
                <li>
                    <label for="contentAuthor">작성자</label>
                    <input type="text" id="contentAuthor">
                </li>
            </ul>
            <textarea name="" id="contentText" cols="30" rows="10"></textarea>
        </div>
    </div>
    
</body>
</html>
