<html lang="ko">
<%- include ('./head') %>
<body>
    <h1>글 보기</h1>
    <div class="content">
        <div class="content-header">

            <h2>안녕하세요 첫 게시글입니다.</h2>
            <dl>
                <dt>글번호</dt>
                <dd>1</dd>
                <dt>작성자</dt>
                <dd>표호근</dd>
                <dt>작성일</dt>
                <dd>2020-04-05</dd>
            </dl>
        </div>
        <div class="content-text">
<pre>
안녕하세요 첫 게시글입니다.
이글은 테스트용입니다.
</pre>
        </div>
    </div>
    <div class="bottom-btn-group">
        <a href="" class="btn primary">목록으로</a>
        <a href="" class="btn primary">수정하기</a>
        <a href="" class="btn primary">삭제하기</a>
    </div>
</body>
</html>
