<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <title>Document</title>
</head>
<body>
  <h1>TODO CREATE</h1>
  <h2>할일들</h2>
  <ul class="todoList">
    <li></li>
    <li></li>
  </ul>
  <input type="text" id="todoAdd" value="">
  <button type="submit" id="saveTodoAdd">저장</button>
  <% for( var i = 0; i < data.length; i++ ) { %>
  <div><%= data[i].content %></div>
  <% } %>
  <script>
    var todoItem;
    var list = '';

    // 저장하기
    $('#saveTodoAdd').click((e)=>{
      e.preventDefault();
      todoItem = document.querySelector('#todoAdd').value;
      $.ajax({
        url: '/todos',
        type: 'POST',
        data: {
          todoid: 6,
          content: todoItem,
          completed: false
        },
        dataType: 'text',
        success: function(){
          console.log('저장성공!');
          window.location.replace('/todos');
        }
      })
    })
    
  </script>
</body>
</html>