.car-list { margin-top: 10px; }
.car-list li { position: relative; margin-bottom: 10px; width: 200px; }
.car-list li img{ height: 100%; }
.car-list li button {position: absolute;left: 10%;top: 70%;}

<<<<<<< HEAD:(complete)gallery/style.css
.listUp{ display: block; position: fixed; bottom: 0; height: 300px; width: 100%; border: 1px solid green; }
.listUp li{ display: inline-block; position: relative;}
.listUp li button{ position: absolute; left: 0; bottom: 0;}
.listUp li img{ width: 150px;}
=======
.listUp{ display: block; bottom: 0; height: 300px; width: 100%; border: 1px solid #efefef; border-radius: 10px; }
.listUp li{ display: inline-block;}
.listUp li img{ width: 150px;}

.fix-bottom {  }
>>>>>>> 957880a1e5b1fbf1a64d055a3d401c20e97d1707:(continue)gallery/style.css
