.btn{
    display: inline-block;
    padding: 10px;
    &.primary{
        background-color: $primary-color;
        color: #ffffff;
        &:hover{
            color: $third-color;
        }
    }
}