.btn{
    display: inline-block;
    font-family: 'Do Hyeon', sans-serif;
    padding: 10px;
    &.primary{
        background-color: $primary-color;
        color: #ffffff;
        &:hover{
            color: $third-color;
        }
    }
}

.btn-group{
    margin: 10px 0;
    text-align: right;
}