.content{
    .content-header{
        background-color: $primary-sub-color;
        padding: 20px;
        color: $third-color;
        h2{
        }
        dl{
            dt{
                font-size: 0;
            }
        }
    }
    .content-text{
        padding: 20px;
        min-height: 300px;
        pre{
            color: $font-color;
        }
    }
    .content-edit{
        margin: 10px 0;
        .content-info{
            >li{
                display: flex;
                align-items: center;
                margin: 10px 0;
                label{
                    flex: 0 0 100px;
                }
                input{
                    flex: 1 1 auto;
                }
            }
        }
        textarea{
            width: 100%;
            padding: 10px;
        }
    }
}